@font-face {
    font-family: 'PokemonGb';
    src: url('/static/fonts/PokemonGb-RAeo.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat-SemiBold.ttf');
    font-weight: bold;
}