{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}PokeBattle - Create Battle{% endblock %}

{% block body %}
<div class="pk-container sign-up">
  <h2 class="pk-title">Signup</h2>
  {% if form.errors %}
    {% for error in form.non_field_errors %}
      <p class="error">{{error}}</p>
    {% endfor %}
  {% endif %}
  {% for message in messages %}
      <div class="messages">
        {{message}}
      </div>
    {% endfor %}
  <div class="content">
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="battle-form-field">
          <div>{{ field.label }}: </div>
          {% render_field field %}
          {{ field.errors }}
        </div>
      {% endfor %}
      <div class="btn-container">
        <button class="pk-btn" type="submit">Register</button>
        <a href="{% url 'social:begin' 'google-oauth2' %}">
          <div class="pk-btn">SignUp with Google</div>
        </a>
      </div>
  </form>
  </div>
</div>
{% endblock %}
