@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/montserrat-alternatives/MontserratAlternates-Regular.ttf');
    font-weight: 400; /* light */
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('./MontserratAlternates-Light.ttf') format('ttf');
    font-weight: 300; /* regular */
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('./MontserratAlternates-SemiBold.ttf') format('ttf');
    font-weight: 600; /* semi-bold */
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('./MontserratAlternates-Bold.ttf') format('ttf');
    font-weight: 700; /* bold */
}