{% load static %}

<nav>
    <div class='pk-nav'>
        <div>
            <a href="{% url 'home' %}">
                <div class="pk-logo"></div>
            </a>
        </div>
        <div class="btns-container">
            {% if not user.is_authenticated %}
            <a href="{% url 'login' %}">
                <div class="pk-small-btn">Login</div>
            </a>
            <a href="{% url 'signup' %}">
                <div class="pk-small-btn">SignUp</div>
            </a>
            {% else %}
            <span>Welcome, {{user.get_short_name}}</span>
            <a href="{% url 'logout' %}">
                <div class="pk-small-btn">Logout</div>
            </a>
            {% endif %}
        </div>
    </div>
</nav>
