.battle-detail {
    .content {
        display: flex;
        align-items: flex-start!important;
        height: fit-content!important;
        margin: 20px 0;
    }

    .styled-title {
        margin: 10px 0;
    }

    .subtitle {
        font-size: 21px;
        
        span {
            font-weight: bold;
            color: $pk-blue;
        }
    }

    .battle-info-container {
        width: 100%;
        margin: 20px 0;
        background-color: $pk-light-grey;
        padding: 15px;

        .round-info {
            margin-bottom: 25px;
        }
    }

    .battle-team-container {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-content: center;
    }
    
    .pokemon-info-container {
        display: block;
        margin: 0 15px;

        .pokemon-icon {
            background: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 96px;
        }

        .pokemon-name {
            font-family: "PokemonGb";
        }
    }
}