.settled-battles {
    .battle-list {
        width: 100%;
        padding: 20px 0;

        div.list-item:last-child {
            border-bottom: 0!important;
        }

        .list-item {
            border-bottom: 1px solid;
            padding: 10px 0;

            .list-attribute {
                font-weight: bold;
            }
        }
    }
}
