html, body {
    width: 100%;
    height: 100%;
    font-family: "Montserrat";
}

nav {
    color: white;
    background-color: $pk-dark-red;
    padding: 15px;

    .pk-nav {
        display: flex;
        justify-content: space-between;
    }

    .btns-container {
        display: flex;

        span {
            align-self: center;
            padding: 10px;
            font-size: 22px;
        }
    }

    a {
        text-decoration: none;
        color: white;
        display: flex;

        &:hover {
            text-decoration: none;
            color: white;
        }
    }
}

.block-body {
    padding: 40px 7%;
    display: flex;
}

footer {
    bottom: 0;
    width: 100%;
    height: 70px;
    color: white;
    background-color: $pk-dark-red;
}

.pk-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.pk-logo {
    background: url("/static/img/pokebattle-logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100px;
    width: 300px;
}

.pk-container {
    width: 100%;

    .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}

.pokemon-font {
    font-family: "PokemonGb";
}

.pk-comp-title {
    display: flex;
    justify-content: space-between;
    font-family: "PokemonGb";
    width: 100%;

    a {
        text-decoration: none;
        color: #000;
    }

    .go-home-btn {
        font-size: 0.8em;
        background-color: $pk-light-grey;
        border-radius: 30px;
        padding: 15px;
        text-align: center;
    }
}

.pk-title {
    font-size: 2em;
    font-family: "PokemonGb";
}

.pk-subtitle {
    font-size: 1em;
    font-family: "PokemonGb";
    padding: 10px 0;
}

.pk-hint {
    font-size: 0.8em;
    color: #848484;
}

/* Forms style */

.battle-form-field {
    padding: 8px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.messages {
    border-radius: 15px;
    border: 1px solid;
    width: fit-content;
    text-align: center;
    padding: 10px 34px;
    margin: auto;
}

.pk-select {
    padding: 4px 0;

    .pk-autocomplete {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px;
        background-color: $pk-light-grey;
    }

    .pk-sort-handler {
        width: 50px;
        display: flex;
        justify-content: center;
        align-self: center;
        cursor: move;
    }
}


/* Buttons style */

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.pk-btn {
    width: 300px;
    background-color:$pk-blue;
    border: none;
    border-radius: 25px;
    color: white;
    text-align: center;
    padding: 12px 50px;
    font-size: 18px;
    margin-top: 10px;
}

.pk-small-btn {
    width: 90px;
    padding: 10px;
    margin: 5px;
    background-color:$pk-blue;
    color: white;
    text-align: center;
    font-weight: bold;
    align-self: center;
    cursor: pointer;
    border-radius: 30px;
}

/* Forms errors */
.error {
    background-color: $pk-light-yellow;
    color: #fff;
    width: fit-content;
    margin: auto;
    margin: 5px 0 15px 0;
    padding: 15px;
    box-shadow: 3px 3px 5px 0px #cccccc;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
}

.field-error {
    padding: 5px 0;
    font-size: 14px;
    font-weight: 600;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
    }
}

/* Lists syle */

.battle-list {
    width: 100%;
    padding: 20px 0;

    a {
        color: #000;
        text-decoration: none;
    }

    .list-item {
        background-color: $pk-light-grey;
        border-bottom: 1px solid white;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .list-attribute {
            font-weight: bold;
        }
    }

    .list-item:hover {
        background-color: $pk-dark-grey;
    }
}

/* Loading component */

.loading {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 30px 0;
}

.no-battles {
    padding: 20px 0;
}
