

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('/fonts/MontserratAlternates-Regular.ttf') format('ttf');
    font-weight: 400; /* light */
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('/fonts/MontserratAlternates-Light.ttf') format('ttf');
    font-weight: 300; /* regular */
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('/fonts/MontserratAlternates-SemiBold.ttf') format('ttf');
    font-weight: 600; /* semi-bold */
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('/fonts/MontserratAlternates-Bold.ttf') format('ttf');
    font-weight: 700; /* bold */
}