// Fonts
$pb-font-family-sans-serif: 'Montserrat Alternates';


// Pokemon Pallet Color
$pk-light-red: #FF0000;
$pk-dark-red: #CC0000;
$pk-light-yellow: #FFDE00;
$pk-dark-yellow: #B3A125;
$pk-blue: #3B4CCA;
