{% extends 'base.html' %}
{% load static %}

{% block title %}PokeBattle{% endblock %}

{% block body %}
<div class="pk-container battle-detail">
  {% include "includes/title.html" with title="Battle Details" %}
  <div class="content">
    <h4>Battle #{{battle.id}} Information</h4>
    <div class="battle-info-container">
      <h5 class="styled-title">Status</h5>
      <div class="subtitle styled-title">{{battle.status}}!</div>
    </div>
    <div class="battle-info-container">
      <h5 class="styled-title">Players</h5>
      <div class="subtitle">
        <span>{{battle.creator.email}}</span> challenged <span>{{battle.opponent.email}}</span> on this battle!
      </div>
    </div>
    {% if battle.winner is not None %}
    <div class="battle-info-container">
      <h5 class="styled-title">Winner</h5>
      <div class="subtitle">
        This battle's winner is <span>{{battle.winner}}</span>.
      </div>
    </div>
    {% endif %}
  </div>
  {% if battle.winner is not None %}
  <div class="content">
    <h4>Battle #{{battle.id}} Details</h4>
    <div class="battle-info-container">
      <h7 class="styled-title">{{battle.creator.email}}'s team</h7>
      <div class="battle-team-container">
        {% for pokemon in creator_team %}
        <div class="pokemon-info-container">
          <div class="pokemon-icon">
            <img src="{{pokemon.img_url}}" height="90px"></img>
          </div>
          <div class="pokemon-name">{{pokemon.name}}</div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="battle-info-container">
      <h7 class="styled-title">{{battle.opponent.email}}'s team</h7>
      <div class="battle-team-container">
        {% for pokemon in opponent_team %}
        <div class="pokemon-info-container">
          <div class="pokemon-icon">
            <img src="{{pokemon.img_url}}" height="80px"></img>
          </div>
          <div class="pokemon-name">{{pokemon.name}}</div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="battle-info-container">
      <h5 class="styled-title">Matches</h5>
      {% for i, c_pokemon, o_pokemon in matches %}
      <div>
        <h6 class="styled-title">Round #{{i}}</h6>
        <div class="round-info">{{c_pokemon}} X {{o_pokemon}}</div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
