{% extends 'base.html' %}
{% load static %}

{% block title %}PokeBattle{% endblock %}

{% block body %}
<div class="pk-container battle-detail">
  {% include "includes/title.html" with title="Battle Details" %}
  <div class="content">
    <h4>Battle #{{battle.id}} Information</h4>
    <div class="battle-info-container">
      <h5 class="styled-title">Status</h5>
      <div class="subtitle styled-title">{{battle.status}}!</div>
    </div>
    <div class="battle-info-container">
      <h5 class="styled-title">Players</h5>
      <div class="subtitle">
        <span>{{battle.creator.email}}</span> challenged <span>{{battle.opponent.email}}</span> on this battle!
      </div>
    </div>
    {% if user == battle.opponent and battle.winner is None %}
    <div class="battle-team-container">
      <a href="{% url 'battles:select-team' battle.pk %}">
        <div class="pk-btn">Fight back!</div>
      </a>
    </div>
    {% endif %}
    {% if battle.winner is not None %}
    <div class="battle-info-container">
      <h5 class="styled-title">Winner</h5>
      <div class="subtitle">
        This battle's winner is <span>{{battle.winner}}</span>.
      </div>
    </div>
    {% endif %}
  </div>
  {% if battle.winner is not None %}
  <div class="content">
    <h4>Battle #{{battle.id}} Details</h4>
    <div class="battle-info-container">
      <h7 class="styled-title">{{battle.creator.email}}'s team</h7>
      <div class="battle-team-container">
        {% for pokemon in creator_team %}
        <div class="pokemon-info-container">
          <div class="pokemon-icon">
            <img src="{{pokemon.img_url}}" height="90px"></img>
          </div>
          <div class="pokemon-name">{{pokemon.name}}</div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="battle-info-container">
      <h7 class="styled-title">{{battle.opponent.email}}'s team</h7>
      <div class="battle-team-container">
        {% for pokemon in opponent_team %}
        <div class="pokemon-info-container">
          <div class="pokemon-icon">
            <img src="{{pokemon.img_url}}" height="80px"></img>
          </div>
          <div class="pokemon-name">{{pokemon.name}}</div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="battle-info-container">
      <h5 class="styled-title">Matches</h5>
      {% for i, c_pokemon, o_pokemon, winner in matches %}
      <div class="match">
        <h6 class="styled-title">Round #{{i}}: {{c_pokemon.name}} VS {{o_pokemon.name}}</h6>
        <div class="round-info-table">
          <div class="column">
            <div>Pokemon</div>
            <div>{{c_pokemon.name}}</div>
            <div>{{o_pokemon.name}}</div>
          </div>
          <div class="column">
            <div>Attack Points</div>
            <div>{{c_pokemon.attack}}</div>
            <div>{{o_pokemon.attack}}</div>
          </div>
          <div class="column">
            <div>Defense Points</div>
            <div>{{c_pokemon.defense}}</div>
            <div>{{o_pokemon.defense}}</div>
          </div>
          <div class="column">
            <div>Hit Points</div>
            <div>{{c_pokemon.hp}}</div>
            <div>{{o_pokemon.hp}}</div>
          </div>
        </div>
        <div class="round-info">
          Round winner: <span>{{winner}}</span>!
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
