{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}PokeBattle - Create Battle{% endblock %}

{% block body %}
<div class='pk-container create-battle'>
  {% include "includes/title.html" with title="Create Battle" %}
  {% if form.errors %}
    {% for error in form.non_field_errors %}
      <div class="error">{{error}}</div>
    {% endfor %}
  {% endif %}
  <div class='content'>
    {% for message in messages %}
      <div class="messages">
        {{message}}
      </div>
    {% endfor %}

    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="battle-form-field">
          <span>{{ field.label }}: </span>
          {% render_field field %}
          <span class="field-error">{{ field.errors }}</span>
        </div>
      {% endfor %}
      <div class="btn-container">
        <button class="pk-btn" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
<!-- JQuery -->
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}
{% endblock %}