{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}PokeBattle - On-going Battles{% endblock %}

{% block body %}
<div class="pk-container ongoing-battles">
    <h2 class="pk-title">Ongoing Battles</h2>
    <div class="content">
        <div class="battle-list">
            <h4>Battles waiting for me</h4>
            {% if battles_im_invited.all %}
                {% for battle in battles_im_invited %}
                    <div class="list-item">
                        <div>
                            <h5>Battle #{{battle.id}}</h5>
                            <div>
                                <span class="list-attribute">{{battle.creator}}</span>  challenged you on {{battle.timestamp|date:"d/m/Y"}} at {{battle.timestamp|time:"H:i"}}. Fight back!
                            </div>
                        </div>
                        <!-- <div class="pk-small-btn">Fight back!</div> -->
                    </div>
                {% endfor %}
            {% else %}
                <div>Ops, there's no battles yet!</div>
            {% endif %}
        </div>
        <div class="battle-list">
            <h4>Battles waiting my opponent</h4>
            {% if battles_i_created.all %}
                {% for battle in battles_i_created %}
                    <div class="list-item">
                        <div>
                            <h5>Battle #{{battle.id}}</h5>
                            <div>
                                <span class="list-attribute">Players</span> {{battle.creator}} X {{battle.opponent}}
                            </div>
                            <div>
                                <span class="list-attribute">Time</span> {{battle.timestamp}}
                            </div>
                        </div>
                        <!-- <div class="pk-small-btn">Fight back!</div> -->
                    </div>
                {% endfor %}
            {% else %}
                <div>Ops, there's no battles yet!</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
