{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}PokeBattle - On-going Battles{% endblock %}

{% block body %}
<div class="pk-container ongoing-battles">
    {% include "includes/title.html" with title="Ongoing Battles" %}
    <div class="content">
        <div class="battle-list">
            <h4>Battles waiting for me</h4>
            {% if battles_im_invited.all %}
                {% for battle in battles_im_invited %}
                    <a href="{% url 'battles:battle-detail' battle.pk %}">
                        <div class="list-item">
                            <div>
                                <h6 class="pokemon-font">Battle #{{battle.id}}</h6>
                                <div>
                                    <span class="list-attribute">{{battle.creator}}</span>  challenged you on {{battle.timestamp|date:"d/m/Y"}} at {{battle.timestamp|time:"H:i"}}. Fight back!
                                </div>
                            </div>
                            <!-- <div class="pk-small-btn">Fight back!</div> -->
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <div>Ops, there's no battles yet!</div>
            {% endif %}
        </div>
        <div class="battle-list">
            <h4>Battles waiting for my opponent</h4>
            {% if battles_i_created.all %}
                {% for battle in battles_i_created %}
                    <a href="{% url 'battles:battle-detail' battle.pk %}">
                        <div class="list-item">
                            <div>
                                <h6 class="pokemon-font">Battle #{{battle.id}}</h6>
                                <div>
                                    <span class="list-attribute">Players</span> {{battle.creator}} X {{battle.opponent}}
                                </div>
                                <div>
                                    <span class="list-attribute">Time</span> {{battle.timestamp}}
                                </div>
                            </div>
                            <!-- <div class="pk-small-btn">Fight back!</div> -->
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <div>Ops, there's no battles yet!</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
